.services_admin {
  .services_wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    .sidebar {
      border-radius: 10px;
      .sidebar_menu {
        li {
          display: block;
          list-style-type: none;
          padding: 0;
          margin: 0;
          .items {
            width: 100%;
            padding: 15px 20px;
            display: block;
            border-bottom: 1px solid rgba(128, 128, 128, 0.236);
          }
        }
      }
    }
    .main_part {
      border-radius: 10px;
      .servies_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(128, 128, 128, 0.236);
      }
      .tables {
        padding: 10px 0;
        .table {
          border-radius: 10px;
          overflow: hidden;
        }
      }
    }
  }
}
