@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

$primary_color: #fe538d;
$secondary_color: #ffb703;
$text_color: #2d2d2d;
$bs-blue: #0d6efd;
$bs-indigo: #6610f2;
$bs-purple: #6f42c1;
$bs-pink: #d63384;
$bs-red: #dc3545;
$bs-orange: #fd7e14;
$bs-yellow: #ffc107;
$bs-green: #198754;
$bs-teal: #20c997;
$bs-cyan: #0dcaf0;
$bs-black: #000;
$bs-white: #fff;
$bs-gray: #6c757d;
$bs-gray-dark: #343a40;
$bs-gray-100: #f8f9fa;
$bs-gray-200: #e9ecef;
$bs-gray-300: #dee2e6;
$bs-gray-400: #ced4da;
$bs-gray-500: #adb5bd;
$bs-gray-600: #6c757d;
$bs-gray-700: #495057;
$bs-gray-800: #343a40;
$bs-gray-900: #212529;
$bs-primary: #0d6efd;
$bs-secondary: #6c757d;
$bs-success: #198754;
$bs-info: #0dcaf0;
$bs-warning: #ffc107;
$bs-danger: #dc3545;
$bs-light: #f8f9fa;
$bs-dark: #212529;
$bs-primary-text-emphasis: #052c65;
$bs-secondary-text-emphasis: #2b2f32;
$bs-success-text-emphasis: #0a3622;
$bs-info-text-emphasis: #055160;
$bs-warning-text-emphasis: #664d03;
$bs-danger-text-emphasis: #58151c;
$bs-light-text-emphasis: #495057;
$bs-dark-text-emphasis: #495057;
$bs-primary-bg-subtle: #cfe2ff;
$bs-secondary-bg-subtle: #e2e3e5;
$bs-success-bg-subtle: #d1e7dd;
$bs-info-bg-subtle: #cff4fc;
$bs-warning-bg-subtle: #fff3cd;
$bs-danger-bg-subtle: #f8d7da;
$bs-light-bg-subtle: #fcfcfd;
$bs-dark-bg-subtle: #ced4da;
$bs-primary-border-subtle: #9ec5fe;
$bs-secondary-border-subtle: #c4c8cb;
$bs-success-border-subtle: #a3cfbb;
$bs-info-border-subtle: #9eeaf9;
$bs-warning-border-subtle: #ffe69c;
$bs-danger-border-subtle: #f1aeb5;
$bs-light-border-subtle: #e9ecef;
$bs-dark-border-subtle: #adb5bd;
$bs-white-rgb: 255, 255, 255;
$bs-black-rgb: 0, 0, 0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  color: $secondary_color !important;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
}
h4 {
  color: $primary_color;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.87rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
p {
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
}
span {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
}
.btn-primary {
  background-color: $primary_color;
  border: 1px solid $primary_color;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    background-color: $secondary_color;
    border: 1px solid $secondary_color;
  }
}
.btn-secondary {
  background-color: $secondary_color;
  border: 1px solid $secondary_color;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    background-color: $primary_color;
    border: 1px solid $primary_color;
  }
}

header {
  nav {
    .logo {
      font-size: 1em;
      color: #000;
      text-transform: uppercase;
      font-weight: 500;
      span {
        color: $primary_color;
        font-size: 1em;
      }
    }
    .nav_link {
      font-size: 1em;
      color: #000;
      text-transform: uppercase;
      font-weight: 500;
      margin-left: 20px;
      transition: all linear 0.3s;
    }
    .nav_link:hover {
      color: #fe538d;
    }
  }
}

.banner {
  background-image: url("");
  background: linear-gradient(to right, #000c, #0000),
    url("assets/images/hero.jpg");
  padding: 150px 0;
  h5 {
    color: $secondary_color;
    font-size: 1.5em;
    font-weight: 500;
  }
  h1 {
    color: $bs-white;
  }
  p {
    color: $bs-white;
  }
}

.about {
  padding: 100px 0;
  img {
    border-radius: 40px;
  }
}

.footer {
  background-color: $bs-dark;
  color: $bs-primary-bg-subtle;
  h3 {
    font-size: 1.2rem !important;
    margin-bottom: 20px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      a {
        text-decoration: none;
        color: $bs-primary-bg-subtle;
      }
    }
  }
}
